table {
    table-layout:fixed;
    width:85%;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
td {
  text-overflow: ellipsis;
  word-wrap:break-word
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #bdbdbd;
}

#createSurveyBody {
    padding: 3%
}

#choiceList > .input-group {
    max-width: 50%;
}
