.container {
    width: 80%;
    margin: 0 auto;

}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;
}

header{
    background: #55d6aa;
}

header::after{
    content:'';
    display:table;
    clear:both;
}

#logout{
    margin-top:10px;
}

.logo{
    float:left;
    padding: 10px 0;
}

nav{
    float:right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none !important;
}

.card{
    height: 325.53px;
}


.card img{
    height: 180px;
}


.card:hover{
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  box-shadow:  -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.logo{
    position: relative;
    width: 150px;
    left: 10px;
    max-height: 60%;
}