<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="/js/answerSurvey.js"></script>
<link rel="stylesheet" type="text/css" href="/css/answerSurvey.css">

<head>
    <title th:text="${name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <ul class="list-group">
        <li class="list-group-item">
            <h1 class="display-4" th:text="${name}"></h1>
        </li>
        <li class="list-group-item">
            <form id="answerSurveyForm" action="/api/response" method="POST">
                <div class="form-group">
                    <input type="hidden" id="surveyTextValue" name="type" value="TEXT">
                </div>                <div class="form-group">
                    <input type="hidden" id="surveyQuestionValue" name="question" th:value="${baseUrl+'/question/'+questions.get(questionNumber).getID()}">
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="${questions.get(questionNumber).getPrompt()}"></span>
                        </div>
                        <textarea class="form-control" id="surveyTextArea" rows="3" name="answer"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div id="submitButtonGroup" class="btn-group">
                            <button id="submitBtn" class="btn btn-primary" type="submit">Submit</button>
                            <button id="nextBtn" class="btn btn-primary" type="button">
                                <a id="nextBtnLink" th:href="${'?questionNumber='+nextQuestionNumber}">Next</a>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</form>
</body>
</html>