<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini Survey Monkey</title>
</head>
<body>
    <div id="">
        <h2>Create a Survey</h2>
        <form id="createSurveyForm" action="/CREATE_SURVEY_POST_ENDPOINT">
            <input type="text" id="surveyCreator" name="creator" th:value="${'/api/user/'+userId}" required hidden><br>
            <label for="surveyName">Survey Name:</label><br>
            <input type="text" id="surveyName" name="surveyName" value="" required><br>
            <hr>
            <h2>Add Question</h2>
            <label for="questionInputSelector">Question Response Type:</label>
            <select id="questionInputSelector" class="inputSelect" autocomplete="off">
                <option disabled selected value> -- select an option -- </option>
                <option value="TEXT">Text</option>
                <option value="MC" >Multiple Choice</option>
            </select>
            <div id="questionInput">

            </div>
            <br>
            <div id="surveyQuestions">
                <table id="questionTable">
                    <colgroup>
                        <col style="width:20%">
                        <col style="width:60%">
                        <col style="width:20%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Question Number</th>
                            <th>Question Prompt</th>
                            <th>Response Type</th>
                        </tr>
                    </thead>
                    <tbody id="questionTBody">
                    </tbody>
                </table>
            </div>
            <br>
            <input id="submitSurvey" type="submit" value="Post Survey" disabled>
        </form>
    </div>
    <div id="noJSForm">
    </div>
    <link rel="stylesheet" type="text/css" href="/css/createSurvey.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/createSurvey.js"></script>
</body>
</html>

