<!DOCTYPE html>
<html>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<script src="/js/home.js"></script>
<link rel="stylesheet" type="text/css" href="/css/home.css">


<head>
    <meta charset="UTF-8">
    <title>Mini Survey Monkey</title>
</head>
<body>
    <header>
        <div class = "container">
            <img src="../../../images/logo.png" alt="MiniSurveyMonkey" class="logo">
            <nav>
                <ul>
                    <li><button onClick="logout()" class="btn btn-primary">Logout</button></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class = "container align-items-center mt-5 pt-4 border-top my-1" id="startMenu">
        <div class = "text-center">
            <h2>Welcome back <span id="user"></span>! </h2>
        </div>
        <div class="container d-flex justify-content-around align-items-center mt-5 pt-2">
            <div class="container align-items-center border-right my-1">
                <a href ="/archive-surveys" class = "custom-card">
                <div class = "card">
                    <img class="card-img-top" src="../../../images/archive.png">
                    <div class = "card-body">
                        <h4 class="card-title">Archive</h4>
                        <p class ="card-text">View your previously created surveys</p>
                    </div>
                </div>
                </a>
            </div>
            <div class = "container align-items-center border-left my-1" >
                <a href="/create-survey" class="custom-card">
                <div class = "card">
                    <img class="card-img-top" src="../../../images/survey.jpg">
                    <div class = "card-body">
                        <h4 class="card-title">Build it myself</h4>
                        <p class ="card-text">Start with a blank survey and design your own survey from scratch.</p>
                    </div>
                </div>
                </a>
            </div>
        </div>

    </div>

</body>
</html>