<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="/js/responseSurvey.js"></script>
<link rel="stylesheet" type="text/css" href="/css/answerSurvey.css">
<head>
    <title th:text="${name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:text="'Responses for ' + ${name}"></a>
    </nav>
    <div class="container-flex">
        <div class="">
            <div class="row justify-content-center" th:each="question : ${questions}">
                <div class="col col-lg-4">
                    <ul class="list-group">
                        <div th:switch="${question.type}">
                            <div th:case="${T(quickndirty.minisurveymonkey.QuestionType).TEXT}" class="question-container" data-question-type="TEXT">
                                <h2 th:text="${question.prompt}"></h2>
                                <table class="table table-striped table-bordered table-hover table-dark">
                                    <thead>
                                        <tr><th>All Responses</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="mapEntry: ${results?.get(question.ID)}"><td class=""  th:text="${mapEntry.value}"></td><tr>
                                    </tbody>
                                </table>
                            </div><br><br>
                            <div th:case="${T(quickndirty.minisurveymonkey.QuestionType).NUMBER}" class="question-container" data-question-type="NUMBER" th:data-question-min="${question.min}" th:data-question-max="${question.max}">
                                <h2 th:text="${question.prompt} + ' - Between ' + ${question.min} + ' and ' + ${question.max}"></h2>
                                <table class="table table-striped table-bordered table-hover table-dark">
                                    <thead>
                                        <tr><th>Range Value</th><th># of occurrences</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="mapEntry: ${results?.get(question.ID)}"><td class=""  th:text="${mapEntry.key}"></td><td class=""  th:text="${mapEntry.value}"></td><tr>
                                    </tbody>
                                </table>
                            </div><br><br>
                            <div th:case="${T(quickndirty.minisurveymonkey.QuestionType).MC}" class="question-container" data-question-type="MC">
                                <h2 th:text="${question.prompt}"></h2>
                                <table class="table table-striped table-bordered table-hover table-dark">
                                    <thead>
                                        <tr><th>Choice</th><th># of occurrences</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="mapEntry: ${results?.get(question.ID)}"><td class=""  th:text="${mapEntry.key}"></td><td class=""  th:text="${mapEntry.value}"></td><tr>
                                    </tbody>
                                </table>
                            </div><br><br>
                        </div>
                    </ul>
                <div>
            </div>
        </div>
    </div>
</body>
</html>